xml/sala-imagem.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="textoLetrasType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-zÀ-ÿ ]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="anoType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="posicaoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="quadro-esquerda"/>
      <xs:enumeration value="quadro-centro"/>
      <xs:enumeration value="quadro-direita"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="obras">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="obra" maxOccurs="3">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titulo" type="textoLetrasType"/>
              <xs:element name="autor" type="textoLetrasType"/>
              <xs:element name="ano_nascimento_autor" type="anoType"/>
              <xs:element name="ano_morte_autor" type="anoType"/>
              <xs:element name="ano_obra" type="anoType"/>
              <xs:element name="imagem" type="xs:string"/>
              <xs:element name="descricao" type="xs:string"/>
            </xs:sequence>

            <xs:attribute name="posicao" type="posicaoType" use="required"/>

          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>